{
    admin off
    persist_config off
    auto_https off
    log {
        format json
    }
    servers {
        trusted_proxies static private_ranges
    }
}

:{$PORT} {
    log {
        format json
    }

    handle /* {
        reverse_proxy {$TARGET_DOMAIN}:{$TARGET_PORT} {
            header_up Host {$TARGET_DOMAIN}
            header_up X-Forwarded-For {http.request.remote.host}
            header_up X-Real-IP {http.request.remote.host}
        }
    }
}
